

    <html>
    <title>
    Exam Attendance Details

    </title>
    <head>
    <link rel = "stylesheet" href="/stylesheets/style.css">
    <link rel = "stylesheet" href="/stylesheets/bootstrap.min.css">
    </head>
    <body>

    <div class="login-page">
    <div class="form">
      <form class="register-form">
        <div class="A">
          <label>Branch Name:</label> 
          <select name = "branch">
            <option value="CSE">COMPUTER SCIENCE AND ENGINEERING</option>
            <option value="EE">ELECTRICAL ENGINEERING</option>
          </select>
          <br>
        </div>
        <div class="B">
          <label>Semester:</label> 
          <input type= "text" name ="sem" maxlength="2" size="2">
          <br>
        </div>
        <div class="C">
          <label>Subject Name:</label>
          <select name="subject">
            <option value="AM1">APPLIED MATHEMATICS</option>
            <option value= "XYZ">FJKDHFJKHFK</option>
          </select>
          <br>
        </div>
        <div class="D">
          <label>Date Of Examination:</label>
          <input type = "date" name = "DOE">
          <label>Section:</label>
          <select name="section">
            <option value= "A">A</option>
            <option value= "B">B</option>
          </select>
          <label>Group:</label>
          <select name = "group">
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
          <br>
        </div>
        <div class="E">
          <label>Room No.</label>
          <input type="text" name= "rn" maxlength="5" size="5">
          <br>
        </div>
        <button>Get Details</button>
        
      </form>
    </div>
    </div>
    </body>
    </html>

